/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
	margin-bottom: 0;
	border-radius: 0;
}
    
/* Add a gray background color and some padding to the footer */
footer {
	background-color: #c1c1c1;
	padding: 25px;
	margin-top: 60px;
 }

/* Add spacing and color to the module names and skills list in labs */
.title {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #a4c2f4;
	text-align: center;
}

/* class added to pdf links */
.pdf {
	color: orange;
}

/* class for cursor animation on hover over lab links */
li[onclick]:hover {
	cursor: pointer;
	text-decoration: underline;
}