p{color:red;}
ul#HTMLLab1 {border:solid black;}
p.para{text-decoration: underline}
img{opacity:0.5}
[id]{text-transform: uppercase;}
.webstuff{background-color: blue;}

/*This styles the table*/
td{border:1px solid black;}
table{border-style:double;}